Treadmill-Node-Red.json
[
    {
        "id": "4e436072.aac04",
        "type": "tab",
        "label": "Treadmill",
        "disabled": false,
        "info": ""
    },
    {
        "id": "c056344d.2f7ea8",
        "type": "ibmiot in",
        "z": "4e436072.aac04",
        "authentication": "boundService",
        "apiKey": "",
        "inputType": "evt",
        "logicalInterface": "",
        "ruleId": "",
        "deviceId": "ESPRESSIF",
        "applicationId": "",
        "deviceType": "+",
        "eventType": "+",
        "commandType": "",
        "format": "json",
        "name": "IBM IoT",
        "service": "registered",
        "allDevices": "",
        "allApplications": "",
        "allDeviceTypes": true,
        "allLogicalInterfaces": "",
        "allEvents": true,
        "allCommands": "",
        "allFormats": "",
        "qos": 0,
        "x": 77.5,
        "y": 171,
        "wires": [
            [
                "bb1ab772.7209d8",
                "160c14d5.12598b"
            ]
        ]
    },
    {
        "id": "bb1ab772.7209d8",
        "type": "debug",
        "z": "4e436072.aac04",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "x": 249.21428680419922,
        "y": 118.99999809265137,
        "wires": []
    },
    {
        "id": "160c14d5.12598b",
        "type": "switch",
        "z": "4e436072.aac04",
        "name": "Check Status",
        "property": "payload.d.Status",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "Running",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "Stopped",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 269.9000473022461,
        "y": 205.0000286102295,
        "wires": [
            [
                "247a9e49.10f9e2",
                "3d27447d.45c14c",
                "9fa7d276.a48ec",
                "902284b1.0586e8",
                "eeeb6651.ebe888"
            ],
            [
                "eeeb6651.ebe888",
                "56a5fac2.63ae54",
                "a15fb5ab.ff1ff8",
                "f9281b2a.51fa38"
            ]
        ]
    },
    {
        "id": "5eb76109.760228",
        "type": "debug",
        "z": "4e436072.aac04",
        "name": "",
        "active": true,
        "console": "false",
        "complete": "payload",
        "x": 1077.821424484253,
        "y": 895.2715015411377,
        "wires": []
    },
    {
        "id": "ed77f552.b3cb48",
        "type": "inject",
        "z": "4e436072.aac04",
        "name": "Generate Strava Token",
        "topic": "authorize",
        "payload": "",
        "payloadType": "str",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": "",
        "x": 181.32140731811523,
        "y": 933.7715091705322,
        "wires": [
            [
                "a3cf5789.e06d38"
            ]
        ]
    },
    {
        "id": "135a09e2.80387e",
        "type": "http request",
        "z": "4e436072.aac04",
        "name": "OAuth Server",
        "method": "POST",
        "ret": "obj",
        "url": "https://www.strava.com/oauth/token",
        "tls": "",
        "x": 876.071418762207,
        "y": 897.0214996337891,
        "wires": [
            [
                "5eb76109.760228"
            ]
        ]
    },
    {
        "id": "6e6a9d40.4add94",
        "type": "template",
        "z": "4e436072.aac04",
        "name": "Auth Form Encode",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "client_id={{credentials.client_id}}&client_secret={{credentials.client_secret}}&code=xxxxxxxxxxxxxxxxxxxxxxx&grant_type=authorization_code",
        "output": "str",
        "x": 688.571418762207,
        "y": 839.5214996337891,
        "wires": [
            [
                "135a09e2.80387e",
                "4dc7e153.2ebac8"
            ]
        ]
    },
    {
        "id": "a3cf5789.e06d38",
        "type": "function",
        "z": "4e436072.aac04",
        "name": "Credentials",
        "func": "msg.credentials = {\n    client_id: \"xxxxx\",\n    client_secret: \"xxxxxxxxxxxxxxxxxxxxxxx\"\n};\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 311.3214302062988,
        "y": 840.7715129852295,
        "wires": [
            [
                "22a625ff.04812a"
            ]
        ]
    },
    {
        "id": "22a625ff.04812a",
        "type": "function",
        "z": "4e436072.aac04",
        "name": "Headers",
        "func": "msg.headers = {\n    \"Content-Type\": \"application/x-www-form-urlencoded\",\n    \"Accepts\": \"application/json\"\n};\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 494.57141494750977,
        "y": 840.7714996337891,
        "wires": [
            [
                "6e6a9d40.4add94"
            ]
        ]
    },
    {
        "id": "947b8e7b.c066",
        "type": "comment",
        "z": "4e436072.aac04",
        "name": "Enter server details here",
        "info": "",
        "x": 876.571418762207,
        "y": 944.2714996337891,
        "wires": []
    },
    {
        "id": "4dc7e153.2ebac8",
        "type": "debug",
        "z": "4e436072.aac04",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "x": 854.4714450836182,
        "y": 788.6714630126953,
        "wires": []
    },
    {
        "id": "e3058074.4ea5a8",
        "type": "inject",
        "z": "4e436072.aac04",
        "name": "",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 214.00711059570312,
        "y": 701.3571662902832,
        "wires": [
            [
                "5078a9f0.e065a8"
            ]
        ]
    },
    {
        "id": "a81f6c9a.8607a8",
        "type": "http request",
        "z": "4e436072.aac04",
        "name": "Create Strava Activity",
        "method": "POST",
        "ret": "obj",
        "url": "https://www.strava.com/api/v3/activities",
        "tls": "",
        "x": 962.5071487426758,
        "y": 699.2572164535522,
        "wires": [
            [
                "75f87bfe.87c45c"
            ]
        ]
    },
    {
        "id": "5078a9f0.e065a8",
        "type": "function",
        "z": "4e436072.aac04",
        "name": "Set Headers Yves",
        "func": "msg.headers = {\n    \"Content-Type\": \"application/x-www-form-urlencoded\",\n    \"Accepts\": \"application/json\",\n    \"Authorization\": \"Bearer xxxxxxxxxxxxxxxxxxxxxxx\"\n};\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 432.5071487426758,
        "y": 700.7572212219238,
        "wires": [
            [
                "79326e09.5f1ac8"
            ]
        ]
    },
    {
        "id": "79326e09.5f1ac8",
        "type": "template",
        "z": "4e436072.aac04",
        "name": "Set POST params",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "name=Treadmill Run&type=Run&start_date_local={{activity.activity_timestamp}}&elapsed_time={{activity.elapsed_time}}&distance={{activity.total_distance}}&trainer=1\n",
        "output": "str",
        "x": 692.2571487426758,
        "y": 699.6071910858154,
        "wires": [
            [
                "a81f6c9a.8607a8"
            ]
        ]
    },
    {
        "id": "934aeb83.8e41b8",
        "type": "inject",
        "z": "4e436072.aac04",
        "name": "",
        "topic": "",
        "payload": "{\"d\":{\"Minutes\":\"8\",\"Seconds\":\"20\",\"Speed\":\"11\",\"Distance\":\"1500\",\"Status\":\"Running\"}}",
        "payloadType": "json",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": "",
        "x": 190.71422576904297,
        "y": 344.2857093811035,
        "wires": [
            [
                "160c14d5.12598b"
            ]
        ]
    },
    {
        "id": "a15fb5ab.ff1ff8",
        "type": "debug",
        "z": "4e436072.aac04",
        "name": "",
        "active": false,
        "console": "false",
        "complete": "false",
        "x": 470.7142333984375,
        "y": 87.14285850524902,
        "wires": []
    },
    {
        "id": "247a9e49.10f9e2",
        "type": "function",
        "z": "4e436072.aac04",
        "name": "Get Average Speed",
        "func": "var distance = parseFloat(msg.payload.d.Distance);\nvar minutes = parseFloat(msg.payload.d.Minutes);\nvar seconds = parseFloat(msg.payload.d.Seconds);\nvar total_seconds = minutes * 60 + seconds;\n\nvar speedseconds = Math.round(((total_seconds * 1000)/(distance)) *100 )/100;\n//var speedseconds = Math.round((3600 / speed) * 100)/100;\nvar minutes = parseInt(speedseconds/60);\nvar seconds = Math.round((speedseconds % 60) * 100)/100;\nmsg.payload = Math.round((((minutes * 100)+seconds)/100) * 100)/100;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 575.7857513427734,
        "y": 335.6072082519531,
        "wires": [
            [
                "a3baf642.2e9ec8"
            ]
        ]
    },
    {
        "id": "3d27447d.45c14c",
        "type": "function",
        "z": "4e436072.aac04",
        "name": "Get Belt Speed",
        "func": "//msg.payload=parseFloat(msg.payload.d.Speed);\nif( msg.payload === false ) {\n    return null;\n}\nmsg.payload=parseFloat(msg.payload.d.Speed);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 552.5714721679688,
        "y": 234.2857208251953,
        "wires": [
            [
                "ebd18294.12053"
            ]
        ]
    },
    {
        "id": "a82a4499.752b8",
        "type": "inject",
        "z": "4e436072.aac04",
        "name": "",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "",
        "x": 121.60714721679688,
        "y": 259.5714874267578,
        "wires": [
            [
                "160c14d5.12598b"
            ]
        ]
    },
    {
        "id": "9fa7d276.a48ec",
        "type": "function",
        "z": "4e436072.aac04",
        "name": "Get Distance",
        "func": "msg.payload = parseFloat(msg.payload.d.Distance)/1000;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 545.0000114440918,
        "y": 282.25001525878906,
        "wires": [
            [
                "92be5380.e6cdb"
            ]
        ]
    },
    {
        "id": "ce7c8e76.707358",
        "type": "inject",
        "z": "4e436072.aac04",
        "name": "",
        "topic": "",
        "payload": "{\"d\":{\"Minutes\":\"8\",\"Seconds\":\"8\",\"Speed\":\"13,07\",\"Distance\":\"2500\",\"Status\":\"Running\"}}",
        "payloadType": "json",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": "",
        "x": 191.99997329711914,
        "y": 426.00000762939453,
        "wires": [
            [
                "160c14d5.12598b"
            ]
        ]
    },
    {
        "id": "1b38c5dc.cc0bfa",
        "type": "inject",
        "z": "4e436072.aac04",
        "name": "",
        "topic": "",
        "payload": "{\"d\":{\"Minutes\":\"8\",\"Seconds\":\"8\",\"Speed\":\"12,07\",\"Distance\":\"2000\",\"Status\":\"Running\"}}",
        "payloadType": "json",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": "",
        "x": 191.49998474121094,
        "y": 384.75001525878906,
        "wires": [
            [
                "160c14d5.12598b"
            ]
        ]
    },
    {
        "id": "902284b1.0586e8",
        "type": "function",
        "z": "4e436072.aac04",
        "name": "Get Current Speed",
        "func": "var speed = parseFloat(msg.payload.d.Speed);\nvar speedseconds = Math.round((3600 / speed) * 100)/100;\nvar minutes = parseInt(speedseconds/60);\nvar seconds = Math.round((speedseconds % 60) * 100)/100;\nmsg.payload = Math.round((((minutes * 100)+seconds)/100) * 100)/100;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 569.1999969482422,
        "y": 385.20001220703125,
        "wires": [
            [
                "ee7ddbe5.fdbbc"
            ]
        ]
    },
    {
        "id": "d662777.6f2ef88",
        "type": "debug",
        "z": "4e436072.aac04",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "x": 936.5999870300293,
        "y": 442.95001792907715,
        "wires": []
    },
    {
        "id": "4b5cb561.0365c4",
        "type": "switch",
        "z": "4e436072.aac04",
        "name": "Check Strava Athlete",
        "property": "athlete",
        "propertyType": "flow",
        "rules": [
            {
                "t": "eq",
                "v": "Yves",
                "vt": "str"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 733.6250076293945,
        "y": 583.2500114440918,
        "wires": [
            [
                "5078a9f0.e065a8",
                "d2efc74a.31b3d8"
            ],
            []
        ]
    },
    {
        "id": "56a5fac2.63ae54",
        "type": "function",
        "z": "4e436072.aac04",
        "name": "Set Strava Params",
        "func": "var date;\ndate = new Date();\ndate = (date.getFullYear() + '-' + ('00' + (date.getMonth()+1)).slice(-2) + '-' + ('00' + date.getDate()).slice(-2) + ' ' + ('00' + date.getHours()).slice(-2) + ':' + ('00' + date.getMinutes()).slice(-2) + ':' + ('00' + date.getSeconds()).slice(-2));\nvar minutes = parseInt(msg.payload.d.Minutes);\nvar seconds = parseInt(msg.payload.d.Seconds);\nvar total_seconds = minutes*60 + seconds;\nvar total_distance = parseInt(msg.payload.d.Distance);\n\nmsg.activity = {\n    activity_timestamp: date,\n    elapsed_time: total_seconds,\n    total_distance: total_distance\n};\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "x": 488.50001525878906,
        "y": 583.7500152587891,
        "wires": [
            [
                "4b5cb561.0365c4"
            ]
        ]
    },
    {
        "id": "d2efc74a.31b3d8",
        "type": "debug",
        "z": "4e436072.aac04",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "x": 944.2500152587891,
        "y": 531.2500457763672,
        "wires": []
    },
    {
        "id": "65d7f5eb.2de0dc",
        "type": "inject",
        "z": "4e436072.aac04",
        "name": "Stopped",
        "topic": "",
        "payload": "{\"d\":{\"Minutes\":\"8\",\"Seconds\":\"20\",\"Speed\":\"11\",\"Distance\":\"1500\",\"Status\":\"Stopped\"}}",
        "payloadType": "json",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": "",
        "x": 199.75,
        "y": 500.25,
        "wires": [
            [
                "160c14d5.12598b"
            ]
        ]
    },
    {
        "id": "b9ec80f0.e4dc98",
        "type": "change",
        "z": "4e436072.aac04",
        "name": "Set Strava Athlete",
        "rules": [
            {
                "t": "set",
                "p": "athlete",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 765.9000396728516,
        "y": 503.40003967285156,
        "wires": [
            [
                "d662777.6f2ef88"
            ]
        ]
    },
    {
        "id": "e90cf6f2.b73ab8",
        "type": "ui_button",
        "z": "4e436072.aac04",
        "name": "",
        "group": "2a48ac11.b380a4",
        "order": 3,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Clear",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "[]",
        "payloadType": "json",
        "topic": "",
        "x": 635.1428985595703,
        "y": 167.7143096923828,
        "wires": [
            [
                "ebd18294.12053",
                "a3baf642.2e9ec8",
                "92be5380.e6cdb",
                "ee7ddbe5.fdbbc",
                "eeeb6651.ebe888",
                "f9281b2a.51fa38"
            ]
        ]
    },
    {
        "id": "f9281b2a.51fa38",
        "type": "ui_dropdown",
        "z": "4e436072.aac04",
        "name": "",
        "label": "",
        "tooltip": "",
        "place": "Select option",
        "group": "ede6a46c.e6cf98",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": true,
        "options": [
            {
                "label": "Yves",
                "value": "Yves",
                "type": "str"
            }
        ],
        "payload": "",
        "topic": "",
        "x": 553.9000091552734,
        "y": 503.40003967285156,
        "wires": [
            [
                "b9ec80f0.e4dc98"
            ]
        ]
    },
    {
        "id": "a3baf642.2e9ec8",
        "type": "ui_gauge",
        "z": "4e436072.aac04",
        "name": "",
        "group": "599f551f.1cb4a4",
        "order": 0,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Average Speed - min/km",
        "label": "Min/Km",
        "format": "{{value}}",
        "min": 0,
        "max": 10,
        "colors": [
            "#CA3838",
            "#E6E600",
            "#00B500"
        ],
        "seg1": "5",
        "seg2": "6",
        "x": 891.3571014404297,
        "y": 334.82147216796875,
        "wires": []
    },
    {
        "id": "ee7ddbe5.fdbbc",
        "type": "ui_gauge",
        "z": "4e436072.aac04",
        "name": "",
        "group": "2a48ac11.b380a4",
        "order": 2,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Current Speed - min/km",
        "label": "Min/Km",
        "format": "{{value}}",
        "min": 0,
        "max": 10,
        "colors": [
            "#CA3838",
            "#E6E600",
            "#00B500"
        ],
        "seg1": "5",
        "seg2": "6",
        "x": 890.1999969482422,
        "y": 383.20001220703125,
        "wires": []
    },
    {
        "id": "92be5380.e6cdb",
        "type": "ui_gauge",
        "z": "4e436072.aac04",
        "name": "",
        "group": "599f551f.1cb4a4",
        "order": 2,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Distance - km",
        "label": "Km",
        "format": "{{value}}",
        "min": 0,
        "max": 10,
        "colors": [
            "#00B500",
            "#E6E600",
            "#CA3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 859.0000152587891,
        "y": 282.0000457763672,
        "wires": []
    },
    {
        "id": "eeeb6651.ebe888",
        "type": "ui_text",
        "z": "4e436072.aac04",
        "group": "2a48ac11.b380a4",
        "order": 5,
        "width": "0",
        "height": "0",
        "name": "",
        "label": "",
        "format": "{{msg.payload.d.Status}}",
        "layout": "col-center",
        "x": 534.6500358581543,
        "y": 450.4500217437744,
        "wires": []
    },
    {
        "id": "ebd18294.12053",
        "type": "ui_chart",
        "z": "4e436072.aac04",
        "name": "",
        "group": "2a48ac11.b380a4",
        "order": 1,
        "width": 0,
        "height": 0,
        "label": "Belt Speed - km/h",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "20",
        "removeOlder": "60",
        "removeOlderPoints": "",
        "removeOlderUnit": "60",
        "cutout": 0,
        "useOneColor": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "useOldStyle": false,
        "x": 866.2500190734863,
        "y": 233.75000762939453,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "3ec82ccb.4e7014",
        "type": "comment",
        "z": "4e436072.aac04",
        "name": "Enter credentials here",
        "info": "Enter an authorization key, your client/product id and secret here.",
        "x": 299.5714454650879,
        "y": 787.7715091705322,
        "wires": []
    },
    {
        "id": "75f87bfe.87c45c",
        "type": "debug",
        "z": "4e436072.aac04",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "x": 1157.250015258789,
        "y": 697.2500095367432,
        "wires": []
    },
    {
        "id": "2a48ac11.b380a4",
        "type": "ui_group",
        "z": 0,
        "name": "Treadmill graphs",
        "tab": "2257dc74.637d54",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "ede6a46c.e6cf98",
        "type": "ui_group",
        "z": 0,
        "name": "Strava Athlete",
        "tab": "2257dc74.637d54",
        "order": 3,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "599f551f.1cb4a4",
        "type": "ui_group",
        "z": 0,
        "name": "Monitor",
        "tab": "2257dc74.637d54",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "2257dc74.637d54",
        "type": "ui_tab",
        "z": 0,
        "name": "Threadmill - Focus Fitness Senator",
        "icon": "dashboard",
        "order": 1,
        "disabled": false,
        "hidden": false
    }
]